<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
        initial-scale=1.0">
    <title>Gerenciando Restaurantes</title>
    <link href="style.css" rel="stylesheet">
    <link href="enviar_forms.html" rel="">

</head>

<div class="pagina-forms">
    <main>
        <br>
        <div class="forms">
            <!--Action é para qual rota vão os dados do furmulário após clicar no botão-->
            <form action="/enviar_formulario" method="POST">
                <div class="categorias">
                    <h3>Perguntas sobre a gestão do seu negócio</h3>
                </div>

                <br>
                <!-- Substituir os blocos de perguntas abaixo pela lista de perguntas definidas em routes/forms.js -->
                <% for(let i=0; i < questions.length; i++) {%>
                <div class="pergunta">
                    <!--Tempo de negócio-->
                    <label for="<%= questions[i].name %>"><strong><%= questions[i].question %></strong></label>
                    <div class="resposta">
                    <% for(let j=0; j < questions[i].options.length; j++) {%>
                        <input type="radio" name="<%= questions[0].name %>" value="<%= questions[0].options[0].value %>" required><%= questions[i].options[j].label %><br>
                    <% } %>
                    </div>
                </div>
                <% } %>
                <br>
                                       
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</div>
